<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>添加机构</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'css/backstage/style.css' %}">
    <link href="{% static 'fonts/backstage/iconfont.css' %}" rel="stylesheet" type="text/css"/>
</head>
<body>

<table class="layui-table details_table1" width="100%" border="0" cellpadding="0" cellspacing="0">
    <thead>
    <tr>
        <th colspan="6">添加机构</th>
    </tr>
    </thead>
    <tbody class="layui-form" lay-filter="company">
    <tr>
        <td width="10%">机构名称&nbsp;<span class="red">*</span></td>
        <td width="10%"><input type="text" class="table_input" name="companyName" id="companyName" style="width: 300px"></td>
        <td width="10%">密码&nbsp;<span class="red">*</span></td>
        <td width="10%"><input type="text" name="companyPass" id="companyPass" class="table_input"></td>
        <td width="10%">煎煮中心&nbsp;<span class="red">*</span></td>
        <td width="10%"><select name="storageType" id="storageType"><option value="">请选择</option></select></td>
    </tr>
    <tr>
        <td width="10%">所属分类</td>
        <td width="10%"><select name="ascription" id="ascription" style="width: 300px">
            <option value="">请选择</option>
            <option value="0" >医院</option>
            <option value="1" >企业单位</option>
        </select>
        </td>
        <td width="10%">机构简称</td>
        <td width="10%"><input type="text" name="shortName" id="shortName" class="table_input"></td>
        <td width="10%"></td>
        <td width="10%"></td>
    </tr>
    <tr>
        <td width="10%">业务员</td>
        <td width="10%"><input type="text" name="salesMan" id="salesMan" class="table_input" style="width: 300px"></td>
        <td width="10%">业务员电话</td>
        <td width="10%"><input type="text" name="salesTel" id="salesTel" class="table_input"></td>
        <td width="10%">对接人</td>
        <td width="10%"><input type="text" name="hisAbutment" id="hisAbutment" class="table_input"></td>
    </tr>
    <tr>
        <td width="10%">对接人电话</td>
        <td width="10%"><input type="text" name="hisAbutmentTel" id="hisAbutmentTel" class="table_input" style="width: 300px"></td>
        <td width="10%">医院分类&nbsp;<span class="red">*</span></td>
        <td width="10%"><select name="hisGrade" id="hisGrade">
            <option value="">请选择</option>
            <option value="17">公立等级医院</option>
            <option value="18">社康</option>
            <option value="19">民营机构</option>
            <option value="20">中医门诊中医馆</option>
            <option value="21">其他</option>
        </select></td>
        <td></td>
    </tr>
    <tr>
        <td width="10%">对接系统&nbsp;<span class="red">*</span></td>
        <td width="10%">
            <input type="radio" name="companyType" id="companyType" value="0" title="医院his">
            <input type="radio" name="companyType" id="companyType" value="1" title="医院管理系统">
            <input type="radio" name="companyType" id="companyType" value="2" title="其他">
    </td>
        <td width="10%">医生认证&nbsp;<span class="red">*</span></td>
        <td width="10%">
            <input type="radio" name="isDocOuth" id="isDocOuth" value="1" title="需要">
            <input type="radio" name="isDocOuth" id="isDocOuth" value="0" title="不需要">
        </td>
        <td width="10%">是否发送短信&nbsp;<span class="red">*</span></td>
        <td width="10%">
            <input type="radio" name="isSendMsg" id="isSendMsg" value="1" title="发送短信">
            &nbsp;&nbsp;&nbsp;<input type="radio" name="isSendMsg" id="isSendMsg" value="0" title="不发送短信">
        </td>
    </tr>
    <tr>
        <td width="10%">营业执照</td>
        <td width="10%" colspan="2"><button type="button" class="layui-btn" id="test-upload-type1"><i class="iconfont icon-shangchuan1"></i>上传文件</button></td>
        <td width="10%">医疗机构执业许可证</td>
        <td width="10%" colspan="2"><button type="button" class="layui-btn" id="test-upload-type1"><i class="iconfont icon-shangchuan1"></i>上传文件</button></td>
    </tr>
    <tr>
        <td width="10%">医院地址</td>
        <td width="10%" colspan="3">
            <div class="layui-form-item">
                <label class="layui-form-label control_label">省/市/区(县)</label>
                <div class="layui-input-block">
                    <div class="layui-input-inline">
                        <select name="hosProvince" id="hosProvince">
                            <option value="">请选择省</option>
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <select name="hosCity" id="hosCity">
                            <option value="">请选择市</option>
                        </select>
                    </div>
                    <div class="layui-input-inline" style="width: 185px">
                        <select name="hosZone" id="hosZone">
                            <option value="">请选择区(县)</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label control_label">详细地址</label>
                <div class="layui-input-inline">
                    <input type="text" name="hosAddress" id="hosAddress" lay-verify="required" class="table_input" style="width: 590px">
                </div>
            </div>
            <input type="hidden" name="hosAddr" id="hosAddr"/>
        </td>
        <td width="10%">默认收货人</td>
        <td width="10%"><input type="text" name="defaultConsignee" id="defaultConsignee" class="table_input"></td>
    </tr>
    <tr>
        <td width="10%">配送时段描述</td>
        <td width="10%" colspan="3"><input type="text" class="table_input" name="distributionDescription" id="distributionDescription" style="width: 590px"></td>
        <td width="10%">默认收货人电话</td>
        <td width="10%"><input type="text" name="defaultTel" id="defaultTel" class="table_input"></td>
    </tr>
    <tr>
        <td width="10%">默认收货地址</td>
        <td width="10%" colspan="3">
            <div class="layui-form-item">
                <label class="layui-form-label control_label">省/市/区(县)</label>
                <div class="layui-input-block">
                    <div class="layui-input-inline">
                        <select name="defaultProvince" id="defaultProvince">
                            <option value="">请选择省</option>
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <select name="defaultCity" id="defaultCity">
                            <option value="">请选择市</option>
                        </select>
                    </div>
                    <div class="layui-input-inline" style="width: 185px">
                        <select name="defaultZone" id="defaultZone">
                            <option value="">请选择区(县)</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label control_label">详细地址</label>
                <div class="layui-input-inline">
                    <input type="text" name="defaultAddress" id="defaultAddress" lay-verify="required" class="table_input" style="width: 590px">
                </div>
            </div>
            <input type="hidden" name="defaultAddr" id="defaultAddr"/>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="6">
            <button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="LAY-company-back-save">保存</button>
        </td>
    </tr>
    </tfoot>
</table>

<script src="{% static 'layui/layui.js' %}"></script>
<script src="{% static 'js/backstage/company_region.js' %}"></script>

<script>

    window.onload=function () {
        var hp = document.getElementById('hosProvince');
        var hc = document.getElementById('hosCity');
        var hz = document.getElementById('hosZone');
        var dp = document.getElementById('defaultProvince');
        var dc = document.getElementById('defaultCity');
        var dz = document.getElementById('defaultZone');
        region(hp,hc,hz,dp,dc,dz);
    };

    function checkdata(data1){
        if (data1.companyName.length == 0) {
            layer.msg("请输入机构名称！");
            $("#companyName").focus();
            return false;
        }
        if (data1.companyPass.length == 0) {
            layer.msg("请输入机构密码！");
            $("#companyPass").focus();
            return false;
        }
        if (data1.storageType <= 0) {
            layer.msg("请选择煎煮中心！");
            return false;
        }
        if (data1.hisGrade < 17) {
            layer.msg("请选择医院分类！");
            return false;
        }
        if (!data1.hasOwnProperty('companyType')) {
            layer.msg("请选择系统对接类别！");
            return false;
        }
        if (!data1.hasOwnProperty('isDocOuth')) {
            layer.msg("请选择医生认证！");
            return false;
        }
        if (!data1.hasOwnProperty('isSendMsg')) {
            layer.msg("请选择是否发短信！");
            return false;
        }
        else {
            return true;
        }
    };

    layui.use(['element', 'form', 'table', 'layer'], function () {
        window.$ = layui.jquery;
        var form = layui.form;
        var table = layui.table;
        var element = layui.element;
        window.layer = layui.layer;

        //请求后台角色信息，渲染select
        $.get("{% url 'management:companyManage' type='storagetype' %}", {}, function (data) {
            var list = JSON.parse(data);        // 查询返回的时string ,需转换为对象再处理取值
            {#console.log(list);#}
            {#console.log(typeof (list));#}
            {#console.log(list[0]);#}
            {#console.log(list[0].fields.role_name);#}
            {#console.log(list[0].pk);#}
            if (list != null || list.size() > 0) {
                for (var i = 0; i < list.length; i++) {
                    $("#storageType").append("<option value=" + list[i].pk + ">" + list[i].fields.name + "</option>");
                }
            }
            form.render('select');
        });


        //监听保存
        form.on('submit(LAY-company-back-save)', function (data) {
            var companyDatas = form.val("company");   //获取表单值
            {#console.log(companyDatas);#}
            {#console.log(companyDatas.companyName);#}
            {#console.log(companyDatas.companyType);#}
            var status = checkdata(companyDatas);
            {#console.log(status);#}
            if (status){
                if (companyDatas.defaultAddress!==''){
                    companyDatas.defaultAddr=companyDatas.defaultProvince+","+companyDatas.defaultCity+","+companyDatas.defaultZone+","+companyDatas.defaultAddress;
                }
                if (companyDatas.hosAddress!==''){
                    companyDatas.hosAddr=companyDatas.hosProvince+","+companyDatas.hosCity+","+companyDatas.hosZone+","+companyDatas.hosAddress;
                }
                {#console.log(companyDatas);#}
                $.ajax({
                    url: "{% url 'management:companyManage' type='add' %}",
                    {#data: JSON.stringify(goodsdata),#}
                    data: companyDatas,
                    dataType: "TEXT",
                    type: "POST",
                    csrfmiddlewaretoken: '{{ csrf_token  }}',
                    success: function (res) {
                        var msg = eval("(" + res + ")");        //坑！必须转换成json对象后才能判断status
                        if (msg.status === 'success') {
                            layer.msg('机构添加成功');
                        } else {
                            layer.msg(msg.message);
                        }
                        reset();
                    }
                });
            }

        });

    });


</script>
</body>
</html>